:root {
    --primary: #e99401;
    --negro: #262626;
    --blanco: #FFF;
    --fuente-principal: 'Outfit', sans-serif;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-size: 2rem;
    font-family: var(--fuente-principal);
    line-height: 1.5;
}
img {
    max-width: 100%;
    display: block;
    height: auto;
}
a {
    text-decoration: none;
    font-size: 1.6rem;
}
p {
    line-height: 1.8;
}
h1 {
    font-size: 4.4rem;
}
h2 {
    font-size: 4rem;
}
h3 {
    font-size: 3rem;
}
h1, h2, h3 {
    margin: 0;
}
[class*="heading"] {
    margin: 5rem 0;
    font-size: 4rem;
    line-height: 1.2;
    text-align: center;
    text-transform: capitalize;
    font-weight: 900;
    color: var(--primary);
}
[class*="contenedor"],
.contenedor {
    width: 95%;
    margin-inline: auto;
    max-width: 120rem;
}

/* PÁGINA INDEX: APARTADO HEADER */
.notwebp.notavif .header {
    background-image: linear-gradient(to right, rgb(0 0 0 / .7), rgb(0 0 0 / .7)), url('../img/header.jpg');
}
.webp .header {
    background-image: linear-gradient(to right, rgb(0 0 0 / .7), rgb(0 0 0 / .7)), url('../img/header.webp');
}
.avif .header {
    background-image: linear-gradient(to right, rgb(0 0 0 / .7), rgb(0 0 0 / .7)), url('../img/header.avif');
}

.header {
    background-image: url('../img/header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 5rem 0;
}
@media (min-width: 1024px) {
    .header {
        position: relative;
    }
    .header__contenedor {
        position: relative;
        z-index: 1;
    }
}
.header__barra {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5rem;
}
@media (min-width: 768px) {
    .header__barra {
        row-gap: unset;
        flex-direction: row;
        justify-content: space-between;
    }
}
.header__enlace-logo {
    width: 100%;
}
.header__logo {
    width: 80%;
    margin-inline: auto;
    max-width: 30rem;
}
@media (min-width: 768px) {
    .header__logo {
        margin-inline: 0;
        width: 90%;
    }
}
.header__box-guitarra {
    display: none;
}
@media (min-width: 1024px) {
    .header__box-guitarra {
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        min-width: 40rem;
        width: 20%;

        /* animation-name: mostrarImagen;
        animation-duration: 1s;
        animation-delay: 0s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: 1; */
        animation: 1s ease-in-out 0s 1 mostrarImagen;
    }
}
@keyframes mostrarImagen {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }
    60% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
.header__guitarra {
    width: 100%;
    height: auto;
}

.navegacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
@media (min-width: 768px) {
    .navegacion {
        flex-direction: row;
    }
}
.navegacion__enlace {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.6rem;
    width: 100%;
    text-align: center;
    padding: 1rem 0;
    color: var(--blanco);
    transition-property: background-color;
    transition-duration: 300ms;
}
.navegacion__enlace:hover {
    background-color: var(--primary);
}
@media (min-width: 768px) {
    .navegacion__enlace {
        padding: 1rem 2rem;
    }
}

.modelo {
    margin-top: 5rem;
    color: var(--blanco);
    max-width: 50rem;
    text-align: center;
    margin-inline: auto;
}
@media (min-width: 768px) {
    .modelo {
        max-width: 60rem;
        margin-inline: 0;
        text-align: left;
    }
}
.modelo__nombre {
    font-weight: 700;
    margin: 0;
    font-size: 6.5rem;
}
@media (min-width: 480px) {
    .modelo__nombre {
        font-size: 8rem;
    }
    .modelo__descripcion {
        margin: 2.5rem 0;
    }
}
.modelo__precio {
    margin: 0;
    font-size: 6rem;
    font-weight: 900;
    color: var(--primary);
}
.modelo__enlace {
    display: inline-block;
    margin-top: 2rem;
    padding: 1rem 5rem;
    color: var(--blanco);
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 700;
    border: .2rem solid var(--primary);
    transition-property: background-color color;
    transition-duration: 0.3s;
}
.modelo__enlace:hover {
    background-color: var(--primary);
}
@media (min-width: 768px) {
    .modelo__enlace {
        margin-top: 2.5rem;
    }
}

/** APARTADO MAIN **/
.productos__grid {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 5rem;
    align-items: flex-start;
}
@media (min-width: 768px) {
    .productos__grid {
        grid-template-columns: repeat(12, 60rem);
        overflow-y: hidden;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
    }
}
@media (min-width: 1280px) {
    .productos__grid {
        grid-template-columns: repeat(3, 1fr);
        overflow-x: unset;
        gap: 3rem;
    }
}

.producto {
    max-width: 55rem;
    margin-inline: auto;
    display: flex;
    column-gap: 1rem;
    align-items: center;
    box-shadow: 0px 0px 10px -4px rgb(0 0 0 / .3);
    padding: 2rem 1rem;
}

@media (min-width: 768px) {
    .producto {
        scroll-snap-align: center;
        margin: .5rem .5rem 1rem .5rem;
    }
}
@media (min-width: 1280px) {
    .producto {
        margin: 0;
    }
}
.producto__bloque {
    margin-top: 5rem;
    max-width: 80rem;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
}
@media (min-width: 768px) {
    .producto__bloque {
        flex-direction: row;
    }
}
.producto__box-img{
    flex-basis: 65rem;
    overflow: hidden;
}
.producto__box-img--unico {
    flex-basis: 45rem;
}
@media (min-width: 768px) {
    .producto__box-img--unico {
        flex-basis: 65rem;
    }
}
.producto__imagen {
    width: 100%;
    height: auto;
    transition-property: scale rotate;
    transition-duration: 300ms;
}
.producto__imagen:hover {
    transform: scale(1.05) rotate(5deg);
}
.producto__imagen--unico {
    width: 20rem;
}
@media (min-width: 768px) {
    .producto__imagen--unico {
        width: 100%;
    }
}
.producto__contenido--p {
    padding: 0 2rem;
}
.producto__nombre {
    font-size: 3rem;
    text-transform: uppercase;
}
.producto__descripcion {
    margin: 1.5rem 0;
    font-size: 1.8rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}
.producto__precio {
    margin: 0;
    font-size: 6rem;
    font-weight: 900;
    color: var(--primary);
}
.producto__enlace {
    display: block;
    border-radius: .5rem;
    width: 90%;
    text-align: center;
    padding: 1rem 0;
    margin-top: 1.5rem;
    color: var(--negro);
    font-weight: 700;
    font-size: 1.6rem;
    text-transform: uppercase;
    border: 0.2rem solid var(--primary);
    transition-property: background-color color;
    transition-duration: 300ms;
}
@media (min-width: 480px) {
    .producto__enlace {
        display: inline-block;
        padding: 1rem 3rem;
        width: auto;
    }
}
.producto__enlace:hover {
    background-color: var(--primary);
    color: var(--blanco);
}
.producto__formulario {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
}
.producto__campo {
    display: grid;
    grid-template-columns: 1fr 4fr;
    column-gap: 2rem;
    align-items: center;
}
.producto__cantidad {
    padding: 1rem;
    border: 0.2rem solid var(--primary);
    font-size: 1.8rem;
}
.producto__cantidad:focus-visible {
    outline: 0.2rem solid var(--primary);
    border: none;
}
.producto__agregar-carrito {
    display: block;
    margin-top: 5rem;
    background-color: var(--primary);
    color: var(--blanco);
    border: none;
    padding: 2rem 5rem;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8rem;
    transition-property: background-color;
    transition-duration: 300ms;
}
.producto__agregar-carrito:hover {
    background-color: var(--negro);
    cursor: pointer;
}

/** Apartado de Cursos **/
.notwebp.notavif .cursos {
    background-image: linear-gradient(to right, rgb(0 0 0 / .65), rgb(0 0 0 / .65)), url('../img/cursos_bg.jpg');
}
.webp .cursos {
    background-image: linear-gradient(to right, rgb(0 0 0 / .65), rgb(0 0 0 / .65)), url('../img/cursos_bg.webp');
}
.avif .cursos {
    background-image: linear-gradient(to right, rgb(0 0 0 / .65), rgb(0 0 0 / .65)), url('../img/cursos_bg.avif');
}

.cursos {
    margin-top: 5rem;
    padding: 10rem 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
@media (min-width: 1280px) {
    .cursos__grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }
}
.cursos__contenido {
    max-width: 48rem;
    margin-inline: auto;
}
@media (min-width: 1280px) {
    .cursos__contenido {
        grid-column: 4 / 6;
    }
}
.cursos__heading {
    margin-top: 0;
}
.cursos__texto {
    color: var(--blanco);
    font-size: 2.4rem;
    text-align: center;
}
.cursos__enlace {
    display: block;
    max-width: 28rem;
    text-align: center;
    margin-top: 3.5rem;
    margin-inline: auto;
    padding: 1rem 5rem;
    color: var(--blanco);
    font-weight: 700;
    font-size: 1.6rem;
    text-transform: uppercase;
    border: 0.2rem solid var(--primary);
    transition-property: background-color;
    transition-duration: 300ms;
}
.cursos__enlace:hover {
    background-color: var(--primary);
}

/** APARTADO BLOG **/
.blog__grid {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 30rem);
    gap: 2.5rem;
    align-items: flex-start;
    overflow-y: hidden;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}
@media (min-width: 480px) {
    .blog__grid {
        grid-template-columns: repeat(4, 40rem);
    }
}
@media (min-width: 768px) {
    .blog__grid {
        padding: 0;
        overflow-x: unset;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 1280px) {
    .blog__grid {
        grid-template-columns: repeat(4, 1fr);
    }
    .blog__grid--pagina {
        grid-template-columns: repeat(3, 1fr);
    }
}
.entrada {
    max-width: 55rem;
    margin-inline: auto;
    scroll-snap-align: center;
    border: 0.1rem solid rgb(120 120 120 / 0.1);
}
.entrada__max-w {
    max-width: 80rem;
}
.entrada__imagen {
    width: 100%;
    height: auto;
}
.entrada__contenido {
    padding: 2rem;
}
.entrada__titulo {
    font-weight: 300;
    text-transform: capitalize;
    line-height: 1.2;
}
.entrada__fecha {
    color: var(--primary);
    font-size: 1.6rem;
    margin: 1.5rem 0;
}
.entrada__texto {
    margin: 1.5rem 0;
    font-size: 1.8rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}
.entrada__enlace {
    display: block;
    margin-top: 1.5rem;
    color: var(--negro);
    text-align: center;
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 700;
    padding: 1rem;
    border: 0.2rem solid var(--primary);
    border-radius: 0.5rem;
    transition-property: background-color color;
    transition-duration: 300ms;
}
.entrada__enlace:hover {
    background-color: var(--primary);
    color: var(--blanco);
}

/** APARTADO FOOTER **/
.footer {
    margin-top: 5rem;
    padding: 5rem 0;
    background-color: var(--negro);
}
.footer__plantilla {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3rem;
}
@media (min-width: 768px) {
    .footer__plantilla {
        flex-direction: row;
        justify-content: space-between;
    }
}
.footer__nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    
}
@media (min-width: 768px) {
    .footer__nav {
        width: unset;
        flex-direction: row;
    }
}
.footer__enlace {
    color: var(--blanco);
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    font-size: 1.6rem;
    padding: 1rem 0;
    transition-property: background-color;
    transition-duration: 300ms;
}
.footer__enlace:hover {
    background-color: var(--primary);
}
@media (min-width: 768px) {
    .footer__enlace {
        padding: 1rem 2rem;
    }
}
.footer__copyright {
    margin: 0;
    text-align: center;
    color: var(--blanco);
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: capitalize;
}

/** PÁGINA NOSOTROS: APARTADO MAIN **/
.nosotros__grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 2rem;
    width: 90%;
    max-width: 60rem;
    margin-inline: auto;
}
@media (min-width: 1024px) {
    .nosotros__grid {
        grid-template-columns: repeat(2, 1fr);
        width: unset;
        max-width: unset;
        row-gap: unset;
        column-gap: 5rem;
    }
}
.nosotros__imagen {
    width: 100%;
    height: auto;
    border: 3rem solid var(--blanco);
    border-radius: .5rem;
    box-shadow: 0px 0px 15px 3px rgb(0 0 0 / .3);
    transition-property: transform;
    transition-duration: 300ms;
}
.nosotros__imagen:hover {
    transform: scale(1.05);
}
@media (min-width: 1024px) {
    .nosotros__imagen:hover {
        transform: scale(1.05) rotate(-2deg);
    }
    .nosotros__contenido {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
.nosotros__texto {
    font-size: 1.8rem;
}